.sat-list-box{
    padding: 10px;
    border: 2px solid #ccc;
    margin-top: 10px;
    height: 410px;
}

.sat-btn {
    text-transform: none;
    /* padding: 10px 36px; */
    background-color: #d3e0dc;
    font-size: 1em;
    color: rgb(7, 7, 87);
    border: none;
}

